@media only screen and (min-width: 32rem) {
    header {
        flex-wrap: nowrap;
    }

    #menu-toggle {
        display: none;
    }

    nav {
        display: block;
        width: auto;
    }

    nav ul {
        flex-direction: row;
        padding: 0;
        gap: 1.5rem;
    }

    nav a {
        padding: 0.25rem 0;
    }

    main {
        padding: 2rem;
    }

    #member-list.grid-view {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
}